<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a *ngFor="let item of routes" mat-list-item (click)="sidenav.close()" [routerLink]="[item.route]"
                routerLinkActive="list-item-active">
                <mat-icon matListIcon> {{ item.icon }} </mat-icon>
                {{item.title}}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>UFC</span>
        </mat-toolbar>
        <div class="router-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>