mat-card {
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
}

.example-header-image {
  background-image: url("http://www.sclance.com/backgrounds/ufc-background/ufc-background_2284415.jpg");
  background-size: contain;
}
