<h4>Filtro de lutadores:</h4>
<mat-form-field>
  <mat-label>Gênero</mat-label>
  <mat-select [(value)]="selectedGender" (selectionChange)="genderChange($event.value)">
    <mat-option value="Todos">Todos</mat-option>
    <mat-option value="Masculino">Masculino</mat-option>
    <mat-option value="Feminino">Feminino</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Categoria</mat-label>
  <mat-select [(value)]="selectedCategory" [disabled]="selectedGender == 'Todos'" (selectionChange)="applyFilter($event.value)">
    <mat-option value="Todas">Todas</mat-option>
    <mat-option *ngFor="let category of categories" [value]="category.title">{{category.title}}</mat-option>
  </mat-select>
</mat-form-field>

<button mat-stroked-button [disabled]="selectedGender == 'Todos'" (click)="resetFilters()">Redefinir</button>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nascimento</th>
      <td mat-cell *matCellDef="let element">{{element.birthDate | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gênero</th>
      <td mat-cell *matCellDef="let element">{{element.gender}}</td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>País</th>
      <td mat-cell *matCellDef="let element">{{element.country}}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Peso</th>
      <td mat-cell *matCellDef="let element">{{element.weight}}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
      <td mat-cell *matCellDef="let element">Peso {{element.category}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>